## Getting Started with Python

Item 1 - Input and Output

In [2]:
name    = input("Enter Employee Name")
salary  = input("Enter salary")
company = input ("Enter Company name")
print("Printing Employee Details")
print ("Name", "Salary", "Company")
print (name, salary, company)

Printing Employee Details
Name Salary Company
Chloe 1000000 My Company

Item 2 - Python Functions

In [3]:
# add_numbers is a function that takes two numbers and adds them together.
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

3

In [4]:
# add_numbers updated to take an optional 3rd parameter. Using print allows printing of multiple expressions within a single cell.
def add_numbers(x,y,z=None): 
    if (z==None):
        return x+y
    else: 
        return x+y+z

print(add_numbers(1, 2)) 
print(add_numbers(1, 2, 3))

3
6

In [5]:
# add_numbers updated to take an optional flag parameter.
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag=True))

Flag is true!
3

In [6]:

# Assign function add_numbers to variable a.
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)

3

Item 3 - Types and Sequences

In [7]:
# This code returns portions of a string, similar to the substring function in SQL.
x = 'This is a string'
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:2]) #first two characters

T
T
Th

In [8]:
# This will return the last element of the string.
x = 'This is a string'
x[-4:-2]

'ri'

In [9]:
# This is a slice from the beginning of the string and stopping before the 3rd element..
x = 'This is a string'
x[:3]

'Thi'

In [10]:
# split returns a list of all the words in a string, or a list split on a specific character.
firstname = 'Jean-Luc Picard'.split(' ')[0] # [0] selects the first element of the list
lastname = 'Jean-Luc Picard'.split(' ')[-1] # [-1] selects the last element of the list
print(firstname)
print(lastname)

Jean-Luc
Picard

Item 4 - Reading and Writing to CSV Files

In [11]:
# load data from a CSV file ant ourput the first 12 dictionaries.

import csv

%precision 2

with open('worldstats.csv') as csvfile:
    stats = list(csv.DictReader(csvfile))
    
stats[:3] # The first three dictionaries in our list.
          ### Changed 12 to 3, since each dictionary was one item in the list

[{'country': 'Arab World',
  'year': '2015',
  'Population': '392022276.0',
  'GDP': '2530101503617.0'},
 {'country': 'Arab World',
  'year': '2014',
  'Population': '384222592.0',
  'GDP': '2873599811404.59'},
 {'country': 'Arab World',
  'year': '2013',
  'Population': '376504253.0',
  'GDP': '2846994251978.35'}]

In [12]:
# this code will get the avg population for each country across all years recorded.
CountryName = set(d['country'] for d in stats) # get the country names
avg_gdp = []

for t in CountryName: # iterate over all the countries
    pop = 0
    i = 0
    for d in stats: # iterate over all dictionaries
        if d['country'] == t: # if the country name matches
            pop += float(d['Population']) # add the hwy mpg
            i += 1 # increment the count
    avg_gdp.append((t, pop / i)) # append the tuple ('CountryName', 'pop')

avg_gdp.sort(key=lambda x: x[0]) # sort by country name i.e. column 0.
avg_gdp

[('Afghanistan', 17486405.57),
 ('Albania', 3057358.75),
 ('Algeria', 24231377.96),
 ('Andorra', 55704.36),
 ('Angola', 15970584.26),
 ('Antigua and Barbuda', 74671.67),
 ('Arab World', 236525898.17),
 ('Argentina', 31825662.94),
 ('Armenia', 3116336.23),
 ('Aruba', 93601.22),
 ('Australia', 16553687.73),
 ('Austria', 7775068.18),
 ('Azerbaijan', 8317427.69),
 ('Bahamas, The', 247038.04),
 ('Bahrain', 738295.06),
 ('Bangladesh', 101968876.86),
 ('Barbados', 267581.28),
 ('Belarus', 9835230.77),
 ('Belgium', 10056939.75),
 ('Belize', 195191.91),
 ('Benin', 5386003.38),
 ('Bermuda', 57297.89),
 ('Bhutan', 578109.89),
 ('Bolivia', 6768447.82),
 ('Bosnia and Herzegovina', 3827420.50),
 ('Botswana', 1299510.18),
 ('Brazil', 142141187.20),
 ('Brunei Darussalam', 260721.73),
 ('Bulgaria', 8193774.36),
 ('Burkina Faso', 9343365.75),
 ('Burundi', 5659120.62),
 ('Cabo Verde', 407017.33),
 ('Cambodia', 10497298.18),
 ('Cameroon', 12276285.16),
 ('Canada', 26895112.55),
 ('Caribbean small states', 5783630.32),
 ('Cayman Islands', 41781.50),
 ('Central African Republic', 2920544.48),
 ('Central Europe and the Baltics', 107155956.77),
 ('Chad', 6605594.30),
 ('Channel Islands', 151521.10),
 ('Chile', 12762286.39),
 ('China', 1066369196.43),
 ('Colombia', 32578898.43),
 ('Comoros', 516388.26),
 ('Congo, Dem. Rep.', 37369751.21),
 ('Congo, Rep.', 2416454.89),
 ('Costa Rica', 3005777.93),
 ("Cote d'Ivoire", 11730286.43),
 ('Croatia', 4421001.38),
 ('Cuba', 10465748.68),
 ('Cyprus', 875382.10),
 ('Czech Republic', 10340717.23),
 ('Denmark', 5162780.38),
 ('Djibouti', 707735.66),
 ('Dominica', 71869.79),
 ('Dominican Republic', 6865502.57),
 ('Early-demographic dividend', 1960044504.64),
 ('East Asia & Pacific', 1717731046.71),
 ('East Asia & Pacific (IDA & IBRD countries)', 1492029028.36),
 ('East Asia & Pacific (excluding high income)', 1511214301.29),
 ('Ecuador', 9880230.45),
 ('Egypt, Arab Rep.', 57186975.20),
 ('El Salvador', 5056545.00),
 ('Equatorial Guinea', 433371.94),
 ('Eritrea', 3815048.90),
 ('Estonia', 1359822.81),
 ('Ethiopia', 64248565.83),
 ('Euro area', 307849332.34),
 ('Europe & Central Asia', 811815527.93),
 ('Europe & Central Asia (IDA & IBRD countries)', 437302791.85),
 ('Europe & Central Asia (excluding high income)', 394577378.04),
 ('European Union', 469780390.75),
 ('Faroe Islands', 47767.19),
 ('Fiji', 685667.36),
 ('Finland', 4947596.73),
 ('Fragile and conflict affected situations', 408396914.25),
 ('France', 57478618.96),
 ('French Polynesia', 163844.42),
 ('Gabon', 968129.36),
 ('Gambia, The', 977947.12),
 ('Georgia', 4309126.92),
 ('Germany', 80213397.37),
 ('Ghana', 14808121.11),
 ('Greece', 9932809.57),
 ('Greenland', 53831.84),
 ('Grenada', 99609.64),
 ('Guatemala', 9191155.30),
 ('Guinea', 8816275.60),
 ('Guinea-Bissau', 1167837.35),
 ('Guyana', 725639.95),
 ('Haiti', 8980160.72),
 ('Heavily indebted poor countries (HIPC)', 370484466.84),
 ('High income', 982694434.54),
 ('Honduras', 4747623.62),
 ('Hong Kong SAR, China', 5458207.23),
 ('Hungary', 10137746.48),
 ('IBRD only', 3222123511.28),
 ('IDA & IBRD total', 4142870584.23),
 ('IDA blend', 342299101.23),
 ('IDA only', 578447971.71),
 ('IDA total', 920747072.95),
 ('Iceland', 250842.09),
 ('India', 845251573.64),
 ('Indonesia', 182629925.49),
 ('Iran, Islamic Rep.', 49096419.19),
 ('Iraq', 17848359.07),
 ('Ireland', 3583295.20),
 ('Isle of Man', 79592.79),
 ('Israel', 4861562.86),
 ('Italy', 56127223.27),
 ('Jamaica', 2276862.45),
 ('Japan', 117528200.55),
 ('Jordan', 3744561.51),
 ('Kazakhstan', 15852204.27),
 ('Kenya', 23200918.05),
 ('Kiribati', 76712.22),
 ('Korea, Rep.', 40483463.79),
 ('Kosovo', 1748687.81),
 ('Kuwait', 1810923.50),
 ('Kyrgyz Republic', 5050461.54),
 ('Lao PDR', 5227259.78),
 ('Late-demographic dividend', 1739342715.21),
 ('Latin America & Caribbean', 425639663.07),
 ('Latin America & Caribbean (excluding high income)', 372716910.30),
 ('Latin America & the Caribbean (IDA & IBRD countries)', 411401410.89),
 ('Latvia', 2233072.57),
 ('Least developed countries: UN classification', 676747604.13),
 ('Lebanon', 3702571.32),
 ('Lesotho', 1490386.20),
 ('Liberia', 2324455.77),
 ('Libya', 5522209.23),
 ('Liechtenstein', 29482.86),
 ('Lithuania', 3294449.19),
 ('Low & middle income', 4084313252.89),
 ('Low income', 452384939.18),
 ('Lower middle income', 1845908403.91),
 ('Luxembourg', 400394.23),
 ('Macao SAR, China', 424657.09),
 ('Macedonia, FYR', 2021631.62),
 ('Madagascar', 12155601.84),
 ('Malawi', 8713224.75),
 ('Malaysia', 18008101.59),
 ('Maldives', 275348.33),
 ('Mali', 9800846.02),
 ('Malta', 358154.64),
 ('Marshall Islands', 48117.15),
 ('Mauritania', 2063442.07),
 ('Mauritius', 1119106.62),
 ('Mexico', 81636985.50),
 ('Micronesia, Fed. Sts.', 102349.47),
 ('Middle East & North Africa', 264250951.00),
 ('Middle East & North Africa (IDA & IBRD countries)', 294160756.45),
 ('Middle East & North Africa (excluding high income)', 297396185.23),
 ('Middle income', 3749306002.71),
 ('Moldova', 3621130.92),
 ('Monaco', 29803.74),
 ('Mongolia', 2355732.20),
 ('Montenegro', 615857.75),
 ('Morocco', 23425335.93),
 ('Mozambique', 18036073.67),
 ('Myanmar', 53215495.75),
 ('Namibia', 1723202.11),
 ('Nepal', 18494221.59),
 ('Netherlands', 14642166.52),
 ('New Caledonia', 150879.36),
 ('New Zealand', 3443247.27),
 ('Nicaragua', 3913048.11),
 ('Niger', 8782314.00),
 ('Nigeria', 97178615.27),
 ('North America', 275628673.66),
 ('Norway', 4259531.02),
 ('OECD members', 1044581890.34),
 ('Oman', 1857351.76),
 ('Other small states', 19491418.98),
 ('Pacific island small states', 1825264.63),
 ('Pakistan', 105088684.89),
 ('Palau', 18980.15),
 ('Panama', 2408992.89),
 ('Papua New Guinea', 4150891.13),
 ('Paraguay', 4281828.12),
 ('Peru', 20594892.55),
 ('Philippines', 60227052.66),
 ('Poland', 38267946.73),
 ('Portugal', 9773178.50),
 ('Post-demographic dividend', 945000525.59),
 ('Pre-demographic dividend', 432795508.86),
 ('Puerto Rico', 3295342.78),
 ('Qatar', 686813.07),
 ('Romania', 21734715.38),
 ('Russian Federation', 145609195.26),
 ('Rwanda', 6405919.96),
 ('Samoa', 173571.59),
 ('San Marino', 28668.50),
 ('Sao Tome and Principe', 162321.43),
 ('Saudi Arabia', 17147372.67),
 ('Senegal', 7671508.88),
 ('Serbia', 7401445.71),
 ('Seychelles', 68820.68),
 ('Sierra Leone', 3748160.89),
 ('Singapore', 3191124.12),
 ('Slovak Republic', 5373618.38),
 ('Slovenia', 2015625.00),
 ('Small states', 26441339.22),
 ('Solomon Islands', 341228.35),
 ('Somalia', 10524276.67),
 ('South Africa', 34384882.96),
 ('South Asia', 1103955096.66),
 ('South Asia (IDA & IBRD)', 1103955096.66),
 ('South Sudan', 10760475.00),
 ('Spain', 38603773.21),
 ('Sri Lanka', 16024714.29),
 ('St. Kitts and Nevis', 46268.82),
 ('St. Lucia', 150884.73),
 ('St. Vincent and the Grenadines', 101188.91),
 ('Sub-Saharan Africa', 520750138.26),
 ('Sub-Saharan Africa (IDA & IBRD countries)', 520750138.26),
 ('Sub-Saharan Africa (excluding high income)', 520681317.58),
 ('Sudan', 20698902.11),
 ('Suriname', 414836.36),
 ('Swaziland', 788319.73),
 ('Sweden', 8536001.96),
 ('Switzerland', 6844429.20),
 ('Syrian Arab Republic', 10751973.06),
 ('Tajikistan', 6654200.69),
 ('Tanzania', 36668492.54),
 ('Thailand', 51698523.64),
 ('Timor-Leste', 1033770.56),
 ('Togo', 3784439.38),
 ('Tonga', 97030.40),
 ('Trinidad and Tobago', 1145206.96),
 ('Tunisia', 7946749.76),
 ('Turkey', 51567124.14),
 ('Turkmenistan', 4483912.14),
 ('Tuvalu', 9509.52),
 ('Uganda', 18328722.95),
 ('Ukraine', 48792144.21),
 ('United Arab Emirates', 3438954.17),
 ('United Kingdom', 57756796.43),
 ('United States', 248675981.46),
 ('Upper middle income', 1903397598.80),
 ('Uruguay', 3054361.16),
 ('Uzbekistan', 25621480.77),
 ('Vanuatu', 176703.81),
 ('Venezuela, RB', 18617847.33),
 ('Vietnam', 76682158.06),
 ('Virgin Islands (U.S.)', 80992.88),
 ('West Bank and Gaza', 3333586.36),
 ('World', 5098646063.23),
 ('Yemen, Rep.', 18708423.00),
 ('Zambia', 8126050.93),
 ('Zimbabwe', 9383385.91)]

In [13]:
# What code would I use to get the average global population by year? Use the above code as an example, change what you need to make it work.

years = set(d["year"] for d in stats)
avg_gdp = []

for year in years:
    pop = 0
    i = 0
    for d in stats:
        if d["year"] == year:
            pop += float(d["Population"])
            i += 1
    avg_gdp.append((year, pop / i))

avg_gdp.sort(key=lambda x: x[0])
avg_gdp

[('1960', 210381812.85),
 ('1961', 213095294.42),
 ('1962', 213815632.97),
 ('1963', 218450828.50),
 ('1964', 223127304.31),
 ('1965', 214105105.72),
 ('1966', 217379282.56),
 ('1967', 218387189.22),
 ('1968', 219007347.93),
 ('1969', 223887286.94),
 ('1970', 218136417.10),
 ('1971', 220276962.18),
 ('1972', 225018021.40),
 ('1973', 229722349.90),
 ('1974', 234432721.22),
 ('1975', 233396056.95),
 ('1976', 236408383.32),
 ('1977', 236574446.52),
 ('1978', 242347468.18),
 ('1979', 243983814.29),
 ('1980', 233774344.21),
 ('1981', 234467425.88),
 ('1982', 237555827.13),
 ('1983', 240727000.74),
 ('1984', 243887210.14),
 ('1985', 245918772.46),
 ('1986', 249281141.93),
 ('1987', 249295582.14),
 ('1988', 251848285.74),
 ('1989', 257417132.29),
 ('1990', 242063942.71),
 ('1991', 245953819.43),
 ('1992', 249997855.96),
 ('1993', 251987318.17),
 ('1994', 253759013.76),
 ('1995', 249122826.98),
 ('1996', 251842047.70),
 ('1997', 256698914.81),
 ('1998', 258281383.17),
 ('1999', 260883493.27),
 ('2000', 261583343.00),
 ('2001', 265265820.32),
 ('2002', 268832749.52),
 ('2003', 272417193.52),
 ('2004', 275006071.59),
 ('2005', 278624539.92),
 ('2006', 281114933.97),
 ('2007', 285912055.59),
 ('2008', 290761367.55),
 ('2009', 295729233.27),
 ('2010', 299526111.77),
 ('2011', 303367689.03),
 ('2012', 309951457.17),
 ('2013', 314022189.23),
 ('2014', 330025755.27),
 ('2015', 356623119.11)]

Item 5 - Using Pandas to Analyze Data

In [14]:
# use Pandas to import a CSV file and print the first 5 rows
import pandas as pd

df = pd.read_csv('worldstats.csv')
df.head(5)

      country  year   Population           GDP
0  Arab World  2015  392022276.0  2.530102e+12
1  Arab World  2014  384222592.0  2.873600e+12
2  Arab World  2013  376504253.0  2.846994e+12
3  Arab World  2012  368802611.0  2.773270e+12
4  Arab World  2011  361031820.0  2.497945e+12

In [15]:
# use Pandas to import a CSV file and print the last 5 rows
import pandas as pd

df = pd.read_csv('worldstats.csv')
df.tail(5)

        country  year  Population           GDP
11206  Zimbabwe  1964   4279561.0  1.217138e+09
11207  Zimbabwe  1963   4140804.0  1.159512e+09
11208  Zimbabwe  1962   4006262.0  1.117602e+09
11209  Zimbabwe  1961   3876638.0  1.096647e+09
11210  Zimbabwe  1960   3752390.0  1.052990e+09

Item 6 - Make It Your Own

In [20]:
# Average GPD per country, sorted by highest to lowest GDP

countries = set(d["country"] for d in stats)
avg_gdp = []

for country in countries:
    gdp = 0
    i = 0
    for d in stats:
        if d["country"] == country:
            gdp += float(d["GDP"])
            i += 1
    avg_gdp.append((country, gdp / i))

avg_gdp.sort(key=lambda x: x[1], reverse=True)
avg_gdp

[('World', 25057431804975.08),
 ('High income', 18888714196031.64),
 ('OECD members', 18625118185189.54),
 ('Post-demographic dividend', 17933388225706.73),
 ('Europe & Central Asia', 8369088820058.25),
 ('North America', 7159335076673.70),
 ('European Union', 7050979670678.53),
 ('United States', 6557344633928.57),
 ('IDA & IBRD total', 6404546226998.53),
 ('Low & middle income', 6001581717711.54),
 ('IBRD only', 5900415283502.00),
 ('Middle income', 5896540304868.89),
 ('East Asia & Pacific', 5887535634759.60),
 ('Euro area', 5282968657973.06),
 ('Upper middle income', 4509156967255.76),
 ('Late-demographic dividend', 3915023901274.07),
 ('Early-demographic dividend', 2745145840605.97),
 ('Japan', 2549480643266.61),
 ('East Asia & Pacific (excluding high income)', 2135230760259.58),
 ('East Asia & Pacific (IDA & IBRD countries)', 2131164598551.52),
 ('Europe & Central Asia (IDA & IBRD countries)', 2053238606833.65),
 ('Germany', 1868061799948.43),
 ('Europe & Central Asia (excluding high income)', 1740155448128.06),
 ('Latin America & Caribbean', 1720651501877.24),
 ('Latin America & the Caribbean (IDA & IBRD countries)', 1643861497909.10),
 ('China', 1605357569831.83),
 ('Latin America & Caribbean (excluding high income)', 1403181305265.90),
 ('Lower middle income', 1385396461681.28),
 ('France', 1130842707641.35),
 ('United Kingdom', 1081010203462.63),
 ('Middle East & North Africa', 1001811243844.16),
 ('Italy', 909748495174.78),
 ('Russian Federation', 876857260346.89),
 ('Middle East & North Africa (excluding high income)', 810037352975.49),
 ('Middle East & North Africa (IDA & IBRD countries)', 804136803329.72),
 ('Central Europe and the Baltics', 785566571821.16),
 ('Arab World', 777272269181.47),
 ('South Asia (IDA & IBRD)', 619642387746.44),
 ('South Asia', 619642387746.44),
 ('Brazil', 612265238774.35),
 ('Canada', 599854160515.19),
 ('Spain', 514969459705.61),
 ('IDA total', 508116507899.89),
 ('India', 487372933888.33),
 ('Fragile and conflict affected situations', 484922896979.14),
 ('Sub-Saharan Africa (IDA & IBRD countries)', 420281744500.54),
 ('Sub-Saharan Africa', 420281744500.54),
 ('Sub-Saharan Africa (excluding high income)', 419867946415.57),
 ('Mexico', 404519010805.41),
 ('Korea, Rep.', 387104534544.24),
 ('Australia', 386537264507.83),
 ('Least developed countries: UN classification', 355397955282.27),
 ('Netherlands', 331770420412.25),
 ('Poland', 283340321246.96),
 ('Switzerland', 270712500963.70),
 ('Pre-demographic dividend', 267645504892.39),
 ('IDA blend', 256943481261.52),
 ('IDA only', 251490811657.83),
 ('Indonesia', 228003969258.01),
 ('Turkey', 217333733628.09),
 ('Saudi Arabia', 214170444679.84),
 ('Sweden', 213742072518.35),
 ('Belgium', 199533932988.09),
 ('Argentina', 178577908382.12),
 ('Low income', 174802356216.52),
 ('Heavily indebted poor countries (HIPC)', 162530022605.42),
 ('Austria', 159880655394.88),
 ('Norway', 148900460553.98),
 ('Small states', 146746845251.73),
 ('Iran, Islamic Rep.', 144651421480.82),
 ('Denmark', 132145649092.61),
 ('Other small states', 128093653400.28),
 ('South Africa', 127284585008.23),
 ('United Arab Emirates', 125867820188.78),
 ('Czech Republic', 119120240082.18),
 ('Thailand', 111460762598.39),
 ('Greece', 108831564368.08),
 ('Finland', 103752154590.93),
 ('Hong Kong SAR, China', 95751488659.11),
 ('Venezuela, RB', 90889884372.88),
 ('Romania', 89044200949.40),
 ('Hungary', 87772215770.64),
 ('Portugal', 87730283340.41),
 ('Ukraine', 87192159877.68),
 ('Nigeria', 87053239740.06),
 ('Colombia', 86858546615.75),
 ('Israel', 80701854763.31),
 ('Kazakhstan', 79794565335.01),
 ('Malaysia', 79452906846.97),
 ('Ireland', 78606252544.70),
 ('Egypt, Arab Rep.', 75284555303.65),
 ('Singapore', 71584613292.93),
 ('Philippines', 69011807480.53),
 ('Chile', 66686051640.89),
 ('Myanmar', 65634607858.43),
 ('Pakistan', 63293287386.73),
 ('Iraq', 62220751735.87),
 ('Vietnam', 59879312335.70),
 ('Algeria', 59743051257.16),
 ('New Zealand', 55898440388.38),
 ('Slovak Republic', 53537815185.41),
 ('Peru', 47998249243.55),
 ('Kuwait', 45480826160.28),
 ('Croatia', 42765896178.47),
 ('Bangladesh', 42552224817.94),
 ('Libya', 42338821232.76),
 ('Qatar', 38037822863.83),
 ('Angola', 36638050726.14),
 ('Puerto Rico', 36137189024.49),
 ('Slovenia', 35838511681.45),
 ('Morocco', 34225596258.13),
 ('Belarus', 32272276541.29),
 ('Cuba', 30588634455.64),
 ('Serbia', 29593014607.69),
 ('Lithuania', 27094739467.83),
 ('Bulgaria', 26617537593.61),
 ('Ecuador', 25235631197.25),
 ('Uzbekistan', 24384592806.86),
 ('Azerbaijan', 24312854049.69),
 ('Caribbean small states', 23715573665.56),
 ('Lebanon', 21321863547.50),
 ('Oman', 19450508015.84),
 ('Latvia', 18306420392.12),
 ('Sudan', 18076714460.22),
 ('Luxembourg', 18014009897.19),
 ('Tunisia', 17623185677.16),
 ('Tanzania', 17180782700.85),
 ('Dominican Republic', 17121388367.35),
 ('Ethiopia', 17031946968.08),
 ('Sri Lanka', 16246826380.16),
 ('Guatemala', 15395928890.09),
 ('Yemen, Rep.', 15191767665.63),
 ('Uruguay', 14690372407.37),
 ('Estonia', 14473879702.82),
 ('South Sudan', 13407414252.66),
 ('Macao SAR, China', 13354914360.27),
 ('Kenya', 13314043397.37),
 ('Bahrain', 12005347176.55),
 ('Costa Rica', 11981785929.62),
 ('Turkmenistan', 11631144742.84),
 ('Syrian Arab Republic', 11614592446.59),
 ('Bosnia and Herzegovina', 10769162090.98),
 ('Cyprus', 10666995194.26),
 ("Cote d'Ivoire", 10601613892.16),
 ('Panama', 10494062180.36),
 ('Cameroon', 10029696031.23),
 ('Ghana', 9631487586.37),
 ('Jordan', 9115082796.34),
 ('El Salvador', 9079016737.25),
 ('Trinidad and Tobago', 8113253324.58),
 ('Paraguay', 7879204849.39),
 ('Channel Islands', 7744863659.81),
 ('Bolivia', 7598343206.00),
 ('Georgia', 7459385396.22),
 ('Congo, Dem. Rep.', 6558753485.54),
 ('Iceland', 6443278371.78),
 ('West Bank and Gaza', 6341615715.34),
 ('Mozambique', 6323459417.60),
 ('Uganda', 6244689483.21),
 ('Macedonia, FYR', 6232039872.60),
 ('Zambia', 6060690096.21),
 ('Zimbabwe', 5917198214.35),
 ('Afghanistan', 5868060666.09),
 ('Albania', 5833936150.33),
 ('Somalia', 5670666666.67),
 ('Jamaica', 5654619111.25),
 ('Namibia', 5420991952.91),
 ('Brunei Darussalam', 5405907241.29),
 ('Honduras', 5384526594.53),
 ('Gabon', 5277190606.77),
 ('Senegal', 5153135617.47),
 ('Armenia', 5134564112.75),
 ('Nepal', 5120021458.48),
 ('Cambodia', 4930086395.13),
 ('Kosovo', 4871138312.14),
 ('Haiti', 4818263942.22),
 ('Mauritius', 4708830198.91),
 ('Botswana', 4260341288.03),
 ('Mali', 3918758370.11),
 ('Pacific island small states', 3830314380.55),
 ('Papua New Guinea', 3805468480.35),
 ('Mongolia', 3797458137.68),
 ('Madagascar', 3781862614.82),
 ('Guinea', 3761683493.27),
 ('Nicaragua', 3675904495.24),
 ('Moldova', 3661245761.04),
 ('Lao PDR', 3553373319.29),
 ('Bahamas, The', 3471158572.62),
 ('Congo, Rep.', 3406085559.92),
 ('Isle of Man', 3353614408.56),
 ('Malta', 3351015783.64),
 ('Tajikistan', 3340804930.19),
 ('Kyrgyz Republic', 3305862116.52),
 ('Burkina Faso', 3180721627.57),
 ('Montenegro', 3143918841.08),
 ('Equatorial Guinea', 3071355762.21),
 ('Chad', 2961053573.88),
 ('Barbados', 2833659244.63),
 ('Benin', 2513078405.13),
 ('Monaco', 2465977340.18),
 ('Niger', 2381991579.46),
 ('Cayman Islands', 2109738293.51),
 ('Malawi', 2075939076.55),
 ('Aruba', 2036355058.97),
 ('Rwanda', 2025582286.17),
 ('Bermuda', 1999886340.46),
 ('Liechtenstein', 1919981692.38),
 ('Faroe Islands', 1829838050.51),
 ('French Polynesia', 1818946387.70),
 ('Fiji', 1547043265.65),
 ('New Caledonia', 1497461055.78),
 ('Mauritania', 1394755979.89),
 ('Togo', 1364902027.08),
 ('Andorra', 1358661347.33),
 ('Swaziland', 1297696817.20),
 ('Suriname', 1262980427.79),
 ('San Marino', 1219464739.45),
 ('Sierra Leone', 1211746201.17),
 ('Greenland', 1045808153.30),
 ('Eritrea', 1031287009.34),
 ('Maldives', 959977731.91),
 ('Burundi', 959723430.62),
 ('Central African Republic', 905562948.88),
 ('Guyana', 802122149.05),
 ('Timor-Leste', 792346921.99),
 ('Cabo Verde', 762208670.77),
 ('Djibouti', 708863249.52),
 ('St. Lucia', 678298778.45),
 ('Bhutan', 672286604.00),
 ('Lesotho', 668542536.70),
 ('Liberia', 641499119.64),
 ('Virgin Islands (U.S.)', 641000004.71),
 ('Antigua and Barbuda', 633621069.02),
 ('Belize', 538463924.99),
 ('Gambia, The', 457310327.86),
 ('Seychelles', 415757510.76),
 ('Grenada', 408688486.39),
 ('Solomon Islands', 375969594.72),
 ('Guinea-Bissau', 367042391.03),
 ('Samoa', 348523935.96),
 ('Vanuatu', 319436683.88),
 ('Comoros', 293201939.50),
 ('St. Kitts and Nevis', 265521613.58),
 ('St. Vincent and the Grenadines', 264543186.39),
 ('Dominica', 262424188.59),
 ('Micronesia, Fed. Sts.', 221228591.86),
 ('Tonga', 181659294.77),
 ('Sao Tome and Principe', 177634654.42),
 ('Palau', 157364846.15),
 ('Marshall Islands', 109294713.51),
 ('Kiribati', 69406987.80),
 ('Tuvalu', 20378753.71)]

In [53]:
# Population of Canada

import pandas as pd

with open("worldstats-canadapop.csv", "w") as can:
    can.write("year, population\n")
    for d in stats:
        if d["country"] == "Canada":
            can.write(f"{d['year']}, {d['Population']}\n")

df = pd.read_csv("worldstats-canadapop.csv")
df

    year   population
0   2015   35851774.0
1   2014   35543658.0
2   2013   35155499.0
3   2012   34751476.0
4   2011   34342780.0
5   2010   34005274.0
6   2009   33628571.0
7   2008   33245773.0
8   2007   32887928.0
9   2006   32570505.0
10  2005   32312000.0
11  2004   31995000.0
12  2003   31676000.0
13  2002   31362000.0
14  2001   31081900.0
15  2000   30769700.0
16  1999   30499200.0
17  1998   30247900.0
18  1997   29987200.0
19  1996   29671900.0
20  1995   29354000.0
21  1994   29111906.0
22  1993   28833410.0
23  1992   28519597.0
24  1991   28171682.0
25  1990   27791000.0
26  1989   27379000.0
27  1988   26895000.0
28  1987   26550000.0
29  1986   26204000.0
30  1985   25942000.0
31  1984   25702000.0
32  1983   25456000.0
33  1982   25202000.0
34  1981   24900000.0
35  1980   24593000.0
36  1979   24277000.0
37  1978   24036000.0
38  1977   23796000.0
39  1976   23518000.0
40  1975   23209000.0
41  1974   22774087.0
42  1973   22369408.0
43  1972   21993631.0
44  1971   21645535.0
45  1970   21324000.0
46  1969   21028000.0
47  1968   20744000.0
48  1967   20412000.0
49  1966   20048000.0
50  1965   19678000.0
51  1964   19325000.0
52  1963   18964000.0
53  1962   18614000.0
54  1961   18271000.0
55  1960   17909009.0